/* GENERAL */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,button{
  font-family:Verdana, Geneva, Tahoma, sans-serif;
}

button,
.box,
.fa-chevron-up,
.flex-right span
{
  cursor: pointer;
}

body{
  width: 100%;
  height: 100vh;
  background-color: black;
  color: white;
}

header,footer{
  height: 70px;
}

/* UTILITY */
.border-box *{
  border: 1px solid white;
}

.container{
  max-width: 1700px;
  width: 90%;
  height: 100%;
  margin: 0 auto;
}

.flex-box{
  display: flex;
}

.c-green{
  color: #4bc800;
}

/* HEADER */
header{
  text-align: right;
  padding: 4px;

}

header button{
  background-color: #4a4a4a;
  padding: 4px 8px;
  color: white;
  border-radius: 4px;
  border: none;
  text-decoration: none;
  font-weight: bold;
}

/* MAIN */
main{
  height: calc(100% - 140px);
  color: white;
  overflow: auto;
}
main .container{
  flex-wrap: wrap;  
  justify-content: center;
  align-content: center;
}

.user{
  position: relative;
  width: 260px;
  height: 150px;

  margin: 4px;
}

.user img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.user-text{
  position: absolute;
  bottom: 0;

  padding: 4px;
  background-color: rgba(0, 0, 0, 0.5);
}

/* FOOTER */
footer{
  background-color: #222222;
  justify-content: space-between;
  align-items: center;
}

footer .box span, .fa-chevron-up{
  font-size: 0.6rem;
  padding: 0 8px;
}

.box{
  display: inline-block;
  text-align: center;
}

.box i{
  font-size: 1.5rem;
  display: block;
}

.flex-left,
.flex-center,
.flex-right{
  align-items: center;
  min-width: 170px;
}

.flex-left{
  padding-left: 4px;
}

.flex-right{
  text-align: right;
}

.flex-right span{
  display: inline-block;
  line-height: 70px;
  padding: 0 16px;
  font-size: 0.6rem;
  background-color: #4a4a4a;
  color: red;
}





